<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565065091939-hm1andj1d45qfppsd7tuik38kbhkop9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565065091939-hm1andj1d45qfppsd7tuik38kbhkop9c</string>
	<key>API_KEY</key>
	<string>AIzaSyCOk745qoZXL5Z5f4Noix9wEY51VxA3S7w</string>
	<key>GCM_SENDER_ID</key>
	<string>565065091939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yasinehsan.quick-chat</string>
	<key>PROJECT_ID</key>
	<string>quick-chat-9bca2</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-chat-9bca2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565065091939:ios:656067bf367c341a</string>
	<key>DATABASE_URL</key>
	<string>https://quick-chat-9bca2.firebaseio.com</string>
</dict>
</plist>